@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap');

*{
  font-family: 'Noto Sans Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background: linear-gradient(110deg, #292929, #121213);
}


.big-container{
  width: 100%;
  height: 100vh;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  animation: fade 3s ease-in-out forwards;
  opacity: 0;
}

@keyframes fade {
  to{
    opacity: 1;
  }
}

.container{
  width: 100%;
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar{
  display: none;
}

video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: -1;
}

header{
  z-index: 2;
  position: fixed;
  margin-right: 0;
  margin-top: 10px;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #fff8;
  overflow: hidden;
  animation: fade 2s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

header .logo{
  float: left;
  margin-left: 70px;
}

header .logo h1{
  color: #fc6d6d;
  font-size: 45px;
  font-weight: bolder !important;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 60px;
}

header nav{
  float: right;
  margin-left: 20px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}


nav ul{
  position: inherit;
  margin-right: 30px;
  min-height: 450px;
}

nav ul li{
  position: inherit;
  list-style: none;
  display: inline-block;
  
}

a{
  position: inherit;
  text-decoration: none;
  color: white;
  padding: 0px 15px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 0 5px white;
}

.active{
  margin-top: 3px;
  padding: 10px 6px;
  background: rgb(66, 66, 66);
  border-radius: 15px;
  transition: 0.2s;
}

.home{
  text-shadow: none !important;
}

.home:hover{
  background: transparent !important;
}

a:hover{
  background-color: rgb(61, 61, 61);
  border-radius: 15px;
  color: white;
}

section{
  /* border: 1px solid wheat; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px white;
  animation: fade 2s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
}

section h2{
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 6px;
}

.wrapper{
  display: inline-flex;
}

.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.dynamic-txts li{
  color: #fc6d6d;
  text-shadow: none;
  list-style: none;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 10s steps(4) infinite !important;
}
@keyframes slide {
  100%{
    top: -200px;
  }
}

.dynamic-txts li span{
  position: relative;
}

.dynamic-txts li span::after{
  content: "";
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

section a{
  margin-top: 25px !important;
}

.section2-heading{
  margin-top: 30px;
  
  width: 80%;
  min-height: 80vh;
}

.grid-container{
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-areas: 
  "pic head"
  "pic btm";
}


.picture{
  /* border: 1px solid white; */
  grid-area: pic;
  padding-top: 80px;
}

.picture img{
  border: 5px solid white;
  box-shadow: 0 0 10px white;
  border-radius: 50%;
  width: 60%;
  height: 50%;
}

.heading{
  grid-area: head;
  /* border: 1px solid white; */
  margin: auto;
  text-align: left;
  /* padding-top: 80px; */
  font-size: 3em;
}

.bottom{
  grid-area: btm;
  /* border: 1px solid white; */
}

footer{
  width: 100%;
  text-align: center;
  color: white;
  animation: fade 2s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
}

footer h2{
  text-transform: uppercase;
  letter-spacing: 10px;
}

footer p{
  max-width: 600px;
  margin: 15px auto;
  line-height: 1.4;
  letter-spacing: 2px;
}


@media (max-width: 1000px) {
  header .logo h1{
    font-size: 38px;
  }
  header{
    height: 60px;
  }
  header nav{
    margin-left: 15px;
  }
  section h2{
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
  }
  .dynamic-txts li{
    font-size: 28px;
  }
  .grid-container{
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "pic pic"
    "head head"
    "btm btm";
  }
  .picture{
    margin-top: 120px !important;
    max-height: 75%;
    margin: 0;
  }
  .picture img{
    /* padding-top: 120px; */
    width: 55%;
    height: 75%;
  }
  .heading{
    margin: 0;
  }
}


@media (max-width: 875px) {
  header .logo,
  header nav{
    width: 100%;
    margin: 0;
    text-align: center;
  }
  header{
    height: 120px;
  }
  nav ul{
    min-width: 300px;
    margin: 0;
  }
  nav ul a{
    padding: 5px 10px;
  }
  section h2{
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    }
    .dynamic-txts li{
      font-size: 22px;
    }
}


@media (max-width: 530px) {
  header{
    height: 150px;
  }
  section h2{
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    }
    .dynamic-txts li{
      font-size: 18px;
    }
}